*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vh;
}

.panel{
    background-size: cover;
    background-position: center;
    height: 80vh;
    border-radius: 50px;
    color: rgba(15, 16, 16, 0.507);
    cursor: pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;

}

.panel h3{
    font-size: 24ch;
    position:relative;
    bottom:20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}
.panel.panel.active h5{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4;
}